body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 16px;
}

.menu {
  background-color: burlywood;
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  text-align: center;
}

h1,
h2 {
  font-family: Impact, sans-serif;
}

h1 {
  text-transform: uppercase;
  margin-top: 0px;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h2 + img {
  display: inline-block;
  margin-top: -25px;
}

.established {
  font-style: italic;
}

hr {
  background-color: brown;
  height: 3px;
  border-color: brown;
}

.item p {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 18px;
}

.flavor {
  width: 75%;
  text-align: left;
}

.price {
  width: 24%;
  text-align: right;
}

hr:nth-of-type(2) {
  margin-top: 25px;
}

/*  FOOTER */

footer {
  font-size: 14px;
}

footer .address {
  margin-bottom: 5px;
}
